{% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Pre Final Year</h1>
                            <span class="subheading">MANIT, Bhopal</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>I'm a multipotentialite lad always on the ball and explore things which bother me untill I get it cleared.
                            I'm very quick and good at taking descisions and put my 100% to get the work done in the given time.
                            I'm fond of cinematic world and sporting as well.</p>
                       <div>
                </div>
            </div>
        </main>

{% include "footer.html" %}