{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Contact Me</h1>
                            {% if ask:%}
                            <span class="subheading">Have questions? I have answers.</span>
                            {%else:%}
                            <span class="subheading">Question received, will update you soon!</span>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Form Content-->
         <div style="padding-left:35%;">
             <div><h2>DETAILS</h2></div>
			<div style="display:flex; flex-flow:column wrap; justify-content:space-evenly; align-items:top;">
                <form method="POST" action="{{ url_for('contact') }}" novalidate>
				{{ form.csrf_token }}
                    <div style="width:1em;">{{ form.name.label }} {{ form.name(style="width:500px;") }}</div>
                    <div style="width:1em;">{{ form.email_id.label }} {{ form.email_id(style="width:500px;") }}</div>
                    <div style="width:1em;">{{ form.phone.label }} {{ form.phone(style="width:500px;") }}</div>
				    <div style="width:1em;">{{form.text.label}} {{form.text(style="width:500px;")}}</div>
                    <div style="width:1em;">{{form.submit(class="btn btn-secondary btn-sm")}}</div>
                </form>
            </div>
		</div>

{% endblock %}